{
"API" :
    {
        "url"       : "https://api.binance.com/api/v3",
        "apikey"    : "",
        "apisecret" : ""
    },
"WSS" :
    {
        "host" : "stream.binance.com",
        "port" : "443"

    },
"Markets" :
    {
        "btcusdt" : {
            "buy" : {
                "trend"         : 0,
                "maxtrend"      : 1000,
                "stepforward"   : 2,
                "stepback"      : 3,
                "diffratelow"   : 0.15,
                "diffratehigh"  : 0.3,
                "minspread"     : -7,
                "historycheck"  : 336,
                "emamethod"     : 0,
                "orderprice"    : 15,
                "nextbuyorder"  : 0.975
            },
            "sell": {
                "trend"         : 0,
                "maxtrend"      : 1000,
                "stepforward"   : 2,
                "stepback"      : 3,
                "nextsellorder" : 0.03
            }
        }
    }
}